# OpenOCD configuration for kws_soc CXXRTL simulation

adapter driver remote_bitbang
adapter speed 100
remote_bitbang host localhost

if { [info exists ::env(SIM_PORT)] } {
    remote_bitbang port $::env(SIM_PORT)
} else {
    remote_bitbang port 9824
}

transport select jtag
set dmi_busy_delay 2000    ;# wait 2 ms on DMISTAT=busy before retry
set riscv_command_timeout_sec 60 ;# wall-clock timeout is too short for simulation
## Target configuration

set _CHIPNAME hazard3
jtag newtap $_CHIPNAME cpu -irlen 5

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

# memory configuration 128KB 0x20000
$_TARGETNAME configure -work-area-phys 0x00000000 -work-area-size 0x20000 -work-area-backup 0

## GDB configuration
gdb_report_data_abort enable
# enable memory access and flashing
gdb_memory_map enable
gdb_flash_program enable

gdb_breakpoint_override hard

init
halt
