# this is an executable
kws_soc_tb

# build directories and output
obj_dir/
build/
yosys_build/
quartus_work_dir/
quartus_src_dir/
build-kws-soc/
CycloneIV/
verilator_sources.f
*.elf
*.o
*.dis
*.vcd
*.qsf
*.qpf

# development stuff
tags
.zed
.vscode
quartus/c5_pin_model_dump.txt
soc_conf.sh
soc_conf_temp.sh
