# this is an executable
kws_soc_tb

# build directories and output
obj_dir/
build/
quartus_work_dir/
build-kws-soc/
verilator_sources.f
*.elf
*.o
*.dis
*.vcd


# development stuff
tags
.zed
.vscode
quartus/c5_pin_model_dump.txt
