# OpenOCD configuration for example_soc CXXRTL simulation

adapter driver remote_bitbang
remote_bitbang host localhost
remote_bitbang port 9824
transport select jtag

## Target configuration
set _CHIPNAME hazard3
jtag newtap $_CHIPNAME cpu -irlen 5

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

# memory configuration 128KB 0x20000
$_TARGETNAME configure -work-area-phys 0x00000000 -work-area-size 0x20000 -work-area-backup 0

## GDB configuration
gdb report_data_abort enable
# enable memory access and flashing
gdb memory_map enable
gdb flash_program enable


init
halt
